<!DOCTYPE html>
<html lang="en">

<head>
    <title>FIZMAT/KTL</title>
</head>
<body>
<p style="text-align: center;vertical-align: middle;font-size: 20px">
    Test.
    <br>
    Will predict your high school
    <br>
    Results:
    <br>
    Fizmat: {{fizmat_cnt}}
    <br>
    KTL: {{ktl_cnt}}
    <br>
    <strong>
        Choose one
    </strong>
</p>
<a href="ktl">
    <img src="/static/one.png" alt="one" style="
          border-radius: 4px;
          padding: 64px;
          width: 300px;
          height: 300px;
          display: block;
          float: left;">
</a>

<a href="fizmat">
    <img src="/static/fork.png" alt="fork" style="
          border-radius: 4px;
          padding: 64px;
          width: 300px;
          height: 300px;
          display: block;
          float: right;">
</a>

</body>
</html>